@charset "utf-8";

@use 'mixin';
@use 'header';
@use 'video';
@use 'project';
@use 'feature';
@use 'flow';
@use 'contact';
@use 'footer';

html {
  font-size: 62.5%;
  font-family: 'Noto Sans JP', sans-serif;
}

.container {
  margin-left: 300px;

  @include mixin.sp {
    margin-left: 0;
  }
}

.wrapper {
  max-width: 900px;
  // padding: 80px 20px;
  padding: 40px 20px;
  margin: 0 auto;
}

.sec-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 2.8rem;
  // line-height: 21px;
  // text-align: left;
  color: #fff;
  text-shadow: 0px 0px 2px rgba(13, 13, 13, 0.16);
  margin-bottom: 60px;
  white-space: nowrap;

  @include mixin.sp {
    font-size: 2rem;
  }

  &::before {
    content: "";
    border-top: 1px solid;
    width: calc(240px / 900px * 100%);
  }

  &::after {
    content: "";
    border-top: 1px solid;
    width: calc(240px / 900px * 100%);
  }
}

.black {
  color: #000;
}

.shadow {
  background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(84, 84, 84, 0.3) 20%, rgba(80, 80, 80, 0.7) 45.6%, rgba(0, 0, 0, 0.8) 100%);
  // background: linear-gradient(rgba(222, 222, 222, 0.1) 0%, rgba(84, 84, 84, 0.3) 20%, rgba(80, 80, 80, 0.7) 45.6%, rgba(0, 0, 0, 0.8) 100%);
  // background: linear-gradient(rgba(132, 132, 132, 0.519) 0%, rgba(84, 84, 84, 0.3) 20%, rgba(80, 80, 80, 0.7) 45.6%, rgba(0, 0, 0, 0.8) 100%);
}